.cont_page {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin-top: 40px;
}
.pageElement {
  margin: 5px;
  cursor: pointer;
  border: 1px solid #fff;
  padding: 8px;
  border-radius: 5px;
}
.pageNbr {
  padding: 8px 12px;
}
.pageNbr.activePage {
  background-color: #fff;
  color: #000;
}
